.header {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 130px;
    background-color: #21544F;
    z-index: 50;
}
    .header .header-logo {
        width: 110px !important;
        height: 110px !important;
    }

.dropdown-toggle {
    background: transparent;
    outline: none;
}

.dropdown-menu {
    background: #2E6D66;
    color: white;
}

.dropdown-item {
    color: white;
}

    .dropdown-item:hover {
        background: #183B38;
        color: white;
    }
